<!DOCTYPE html>
<!--命名空间必须加上-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>part1:标准变量表达式 用${}</h1>
<p th:text="${msg}">
    abbbd
</p>

<div th:text="${msg}"></div>


<p>
    <span th:text="${user.nick}">x</span>
    <span th:text="${user.phone}">188xxxxxxxx</span>
    <span th:text="${user.email}">xx@xx.com</span>
    <span th:text="${user.address}">bj</span>
</p>

<h1>
    part2:选择变量表达式，用${}方式 + *{}方式
</h1>
<div th:object="${user}">
    <p>nick:<span th:text="*{nick}">张</span></p>
    <p>phone:<span th:text="*{phone}">137xxxxxxxx</span></p>
    <p>email:<span th:text="*{email}">12@163.com</span></p>
    <p>address:<span th:text="*{address}">shanghai</span></p>
</div>

<h1>part3:URL表达式，用@{}方式</h1>
<!--前后用|符号，不用字符串拼接-->
<a href="index.html" th:href="@{|http://localhost:8080/boot/user/info?id=${user.id}&phone=${user.phone}|}">查看</a>
<br/>

<a>相对页面地址</a>
<a href="info.html" th:href="@{'user/info?id=' + ${user.id}}">查看</a>
<br/>

<a>相对上下文地址，始终保证加入项目工程</a>
<a href="info.html" th:href="@{'/user/info?id=' + ${user.id}}">查看</a>
<br/>

<h1>from提交表单(有动态变量，可以用thymeleaf，静态地址可以用传统的)</h1>
<form id="login" th:action="@{/boot/login}">

</form>

<h1>th:each，非常常用，可以循环遍历集合、数组、map</h1>
<p th:each="user : ${userlist}">
    <!--<span th:text="${user.id}">x</span>-->
    <span th:text="${userStat.count}"></span><!--Stat 输出当前是第几个-->
    <span th:text="${user.nick}">x</span>
    <span th:text="${user.phone}">188xxxxxxxx</span>
    <span th:text="${user.email}">xx@xx.com</span>
    <span th:text="${user.address}">bj</span>
</p>

<br/>map遍历方法<br/>
<!--此处报错是编译器问题，可以通过-->
<p th:each="user : ${usermap}">
    <span th:text="${user.key}"></span>
    <span th:text="${user.value.nick}">x</span>
    <span th:text="${user.value.phone}">188xxxxxxxx</span>
    <span th:text="${user.value.email}">xx@xx.com</span>
    <span th:text="${user.value.address}">bj</span>
</p>

<br/>id，定死不变的情况下，可以用传统方式，但是如果动态变化，可以用th标签<br/>
<span id="username">aaa</span>
<span th:text="${username}">aaa</span>

<br/>if判断<br/>
<span th:if="${sex eq 1}">男</span>
<span th:if="${sex eq 2}">女</span>

<br/>unless判断，是if相反的操作<br/>
<span th:unless="${sex == 2}">男</span>

<br/>switch case<br/>
<div th:switch="${sex}">
    性别：
    <p th:case="1">男</p>
    <p th:case="2">女</p>
    <p th:case="*">位置</p><!--*代表default-->
</div>

<br/>th:src 外部资源引入，比如js,img，通常与@{}URL表达式结合使用<br/>
<script th:src="@{/static/js/jquery-2.4.min.js}">aa</script>
<img th:src="@{/images/img.png}"/>


<br/>th:value<br/>
<input th:value="${username}"/>

<br/>th:onclick<br/>
<span th:onclick="'clickme()'">22</span>
<script>
    function clickme(){
        alert("dsff");
    }
</script>


<br/>th:onstyle<br/>
<div th:style="'display:none;'">
    sdfsdf
</div>

<br/>th:method<br/><!--表单提交-->
<form id="login2" th:action="@{/login2}" th:method="post">

</form>

<br/>th:name<br/><!--设置表单名称-->
<input th:type="text" th:id="${user.nick}" th:name="${user.nick}"/>

<br/>th:inline 内联文本text，内联脚本javascript，内联标签写到父级标签也可以<br/>
<div th:inline="text">Hello,[[${user.nick}]]</div>

<br/>内联脚本<br/>
<script th:inline="javascript" type="text/javascript">
    var user = [[${user.phone}]]
    alert(user);
</script>

<script th:inline="javascript" type="text/javascript">
    var msg = "hello" + [[${user.phone}]]
    alert(msg)
</script>

<br/>request对象的使用<br/>
<span th:text="${#request.getAttribute('name')}"/>

<br/>session对象使用<br/>
<span th:text="${#session.getAttribute('address')}"/>

<br/>thymeleaf功能性对象，内置，比如集合，时间，数值，#开头<br/>
<span th:text="${#dates.format(date, 'yyyy-MM-dd HH:mm:ss')}">sdfsd</span>

<span th:text="${#strings.substring(username, 0, 1)}">sdf</span>
</body>
</html>